<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanbridge.advancequery.dao.SysUserMapper">


    <select id="list" resultType="com.lanbridge.advancequery.po.SysUser">
        select *
        from sys_user
        where sex=#{sex}
        <if test="bind.hasQuery">
            and ${bind.sql}
        </if>
        <if test="bind.hasSort">
            order by ${bind.sort}
        </if>
    </select>
</mapper>